/******************************************************************************
 * Variables
 *****************************************************************************/
/* based on col-sm-2 (16.67%), but a bit smaller to leave 
	              * some space to the content*/
/* Default link color (when not inverse) */
/******************************************************************************
 * Mixins
 *****************************************************************************/
/******************************************************************************
 * Actual styles
 *****************************************************************************/
body {
  /* Avoid the navbar hiding content. */
  padding-top: 60px;
  /* Fix the issue with the navbar hiding the section's title when using links */
}
body h1[id],
body h2[id],
body h3[id] {
  padding-top: 60px;
  margin-top: -60px;
}
.toc {
  /* Hides lower levels when the top level is not selected */
  /* Reset list styles indent */
  /* Indenting */
}
.toc li.active > ul {
  display: block;
}
.toc li > ul {
  display: none;
}
.toc li > a {
  display: block;
}
@media screen and (min-width: 768px) {
  .toc li > a {
    color: #158cba !important;
  }
}
.toc ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style: none outside none;
}
.toc ul > li > a {
  padding-top: 7px;
  padding-bottom: 0px;
}
.toc ul > li {
  padding-left: 0px;
}
.toc ul > li {
  padding-left: 10px;
}
.toc ul > li > a {
  padding-left: 20px;
  margin-left: -20px;
}
.toc ul > li.active > a {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .toc ul > li.active > a {
    border-left: 2px solid;
    margin-left: -22px;
  }
}
.toc ul ul > li {
  padding-left: 10px;
}
.toc ul ul > li > a {
  padding-left: 30px;
  margin-left: -30px;
}
.toc ul ul > li.active > a {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .toc ul ul > li.active > a {
    border-left: 2px solid;
    margin-left: -32px;
  }
}
.toc ul ul ul > li {
  padding-left: 10px;
}
.toc ul ul ul > li > a {
  padding-left: 40px;
  margin-left: -40px;
}
.toc ul ul ul > li.active > a {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .toc ul ul ul > li.active > a {
    border-left: 2px solid;
    margin-left: -42px;
  }
}
@media screen and (min-width: 768px) {
  .toc {
    position: absolute;
    top: 60px;
    width: 100%;
    pointer-events: none;
  }
  .toc > .nav {
    width: 15%;
    padding-right: 5px;
  }
  .toc > ul {
    pointer-events: auto;
  }
  .toc > li {
    float: none;
  }
}
/* Styles in xs mode  */
@media screen and (max-width: 767px) {
  .navbar {
    /* instead of transparent, to make the menus readable. */
    background-color: white;
  }
  /* applying inverse style to all the links of the navbar */
  .navbar-inverse .navbar-nav li > a {
    color: #999;
  }
  .navbar-inverse .navbar-nav li > a:hover,
  .navbar-inverse .navbar-nav li.active > a {
    color: #333;
    text-decoration: none;
  }
}
