
/*******************************************************************

This chunk is to fix Bootstrap so that the Markdown output looks good

*******************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 150%;
}

xmp, textarea {
  display: none;
}

h1,h2,h3,h4 {
  margin: 15px 0;
}

pre {
  margin: 20px 0;
}

img {
  margin: 10px 0;
}

.navbar {
  z-index: 1;
}

.table {
  width: auto;
}

